<p>signup works!</p>

<div [hidden]="submitted">
  <h1>Buyer Form</h1>
<form (ngSubmit)="onSubmit()" #buyerForm="ngForm">
<div class="form-group">
  <label for="name">Name</label>
  <input type="text" class="form-control" id="name"
         required
         [(ngModel)]="model.name" name="name">
</div>

<div class="form-group">
  <label for="username">Username</label>
  <input type="username"  class="form-control" id="username"
         [(ngModel)]="model.username" name="username">
</div>

<div class="form-group">
  <label for="password">Password</label>
  <input type="password"  class="form-control" id="password"
         [(ngModel)]="model.password" name="password">
</div>

<button type="submit" class="btn btn-success" [disabled]="!buyerForm.form.valid">Submit</button>
</form>
</div>